<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="center">RESET PASSWORD</h1>

    <table align="center" border="1">
        <form method="POST">
            {% csrf_token %}

            <tr>
                <th>
                    Enter new password
                </th>
                <td>
                    <input type="password" name="password" id="">
                </td>
            </tr>
            <tr>
                <th>
                    Confirm password
                </th>
                <td>
                    <input type="password" name="confirm_password" id="">
                </td>
            </tr>
            <tr>
                <th colspan="2"> 
                    <input type="submit" value="submit">
                </th>
            </tr>


        </form>

    </table>
        <h4> {{error}} </h4>
</body>
</html>